* {
    appearance: none;
    background: none transparent;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background-color: #FFF;
    color: #000;
    font: 16px/16px 'Noto Sans CJK JP','Hiragino Sans','Droid Sans',sans-serif;
}
